<div class="container my-4">

  <div class="section-cards">

    <div class="section-cards-header d-flex flex-wrap mb-4">
      <h1 class="flex-grow-1">Minhas Tarefas</h1>
      <button class="btn btn-primary pr-4" (click)="openNewTodoWindow()"><i class="fa-solid fa-plus ml-1 mr-3"></i>Nova tarefa</button>
    </div>

    <hr>

    <app-single-card *ngFor="let item of allCards"
    [_cardItem] = "item"
    (deleteFunction)="openDeleteTodoWindow(item.id)"
    (editFunction)="openEditTodoWindow(item.id)"
    (doneFunction)="openDoneTodoWindow(item.id)"
    ></app-single-card>

  </div>

</div>

<div class="container-fluid container-popup vh-100 position-fixed d-flex align-items-center justify-content-center"
    [ngClass]="!newTodoWindowVisibility? 'hidden': ''"
  >

  <div class="container-sm popup-window bg-light rounded pb-2">

    <div class="window-post-put">
      <div class="popup-header d-flex px-3 mt-4">
        <h2 class="popup-title">{{todoWindow.headerTitle}}</h2>
        <button class="btn btn-close ml-auto" (click)="closeTodoWindow()"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <hr>
      <form [formGroup]="newTodoForm" (ngSubmit)="todoWindow.onSubmit()" class="p-3 m-4">

        <div class="form-group"
        *ngIf="todoWindow.showInput">
          <label for="title">Nome da tarefa</label>
          <input id="title" formControlName="title" type="text" [required]="true" class="form-control" placeholder="Ex.: Ir ao mercado">
        </div>


        <button [classList]="!todoWindow.showInput? 'btn mr-2 mb-2 btn-danger' : 'btn mr-2 mb-2 btn-primary'" type="submit">{{todoWindow.submitText}}</button>
        <button [classList]="todoWindow.showInput? 'btn mb-2 btn-danger' : 'btn mb-2 btn-primary'" type="reset" (click)="closeTodoWindow()">Cancelar</button>
      </form>
    </div>

  </div>

</div>
