<div class="container my-4 d-flex">

  <div class="section-login flex-shrink-0 w-100 mw-sm fullvh">
    <div class="d-flex flex-wrap mb-4">
      <h1 class="flex-grow-1">Registrar</h1>
    </div>

    <form>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword">
      </div>
      <div class="mb-3">
        <label for="inputPassword2" class="form-label">Confirmar Senha</label>
        <input type="password" class="form-control" id="inputPassword2">
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

  </div>
  <div class="section-img-area flex-shrink-1 show-lg">
    <img src="../../../assets/blog-writer.png" alt="Blog writer Illustration By Delesign Graphics">
  </div>

</div>
